@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Apples and Oranges Ltd.<br />
    Ratapihantie 13, 00520 Helsinki<br />
    Members: Juho Uusitalo, Hamza Riaz, Manoj Aryal, Raheel Sarwar, Faisal<br />
    <abbr title="Phone">Phone: 040121212</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:juhouusitalo@live.fi">juhouusitalo@live.fi</a><br />
</address>